#app

%script{type: "text/html", id: "main_view"}
  %h1 Scrolls Builder Homepage

  %a#new-deck{href: '#decks/new'} New Deck

%script{type: "text/html", id: "deck_builder"}
  .row
    .span12
      %h4 Filter
      .btn-group{data: {toggle:"buttons-checkbox"}}
        %button.btn.btn-primary{:type => "button"} Creature
        %button.btn.btn-primary{:type => "button"} Spell
        %button.btn.btn-primary{:type => "button"} Enchantment
        %button.btn.btn-primary{:type => "button"} Structure
      .btn-group{data: {toggle: "buttons-checkbox"}}
        %button.btn.btn-primary{:type => "button"} Energy
        %button.btn.btn-primary{:type => "button"} Order
        %button.btn.btn-primary{:type => "button"} Growth
      .btn-group{data: {toggle: "buttons-checkbox"}}
        %button.btn.btn-primary{:type => "button"} Common
        %button.btn.btn-primary{:type => "button"} Uncommon
        %button.btn.btn-primary{:type => "button"} Rare
  .row
    .span12
      %h4 Sort
      .btn-group{"data-toggle" => "buttons-radio"}
        %button.btn.btn-primary{:type => "button"} Rarity
        %button.btn.btn-primary{:type => "button"} Cost
        %button.btn.btn-primary{:type => "button"} Name
        %button.btn.btn-primary{:type => "button"} Resource Type

  .row
    #scrolls-list.span8
    #scrolls-preview.span4
      %h4 Scroll Preview
  .row
    #deck-scrolls.span12
  .row
    #deck-options.span12
      %h4 Deck Options
      %ul.deck-options

%script{type: "text/html", id: "game_scrolls"}
  %h4 Scrolls
  %ul.scroll-picker

%script{type: "text/html", id: "deck_scrolls"}
  %h4 The deck itself
  %ul.scroll-picker

%script{type: "text/html", id: "game_scroll"}
  %div
    {{name}}

%script{type: "text/html", id: "deck_scroll"}
  %div
    {{name}}
    %i.icon-remove-sign
    {{count}}