#app

%script{type: "text/html", id: "main_view"}
  %h1 Scrolls Builder Homepage

  %a#new-deck{href: '#decks/new'} New Deck

%script{type: "text/html", id: "deck_builder"}
  .row
    .span12
      %h4 Filter
      .btn-group.scroll-filter{data: {toggle:"buttons-checkbox"}}
        %button.btn.btn-primary{type: "button",
                                data: {type: 'scroll_type', filter: 'Creature'}} Creature
        %button.btn.btn-primary{type: "button",
                                data: {type: 'scroll_type', filter: 'Spell'}} Spell
        %button.btn.btn-primary{type: "button",
                                data: {type: 'scroll_type', filter: 'Enchantment'}} Enchantment
        %button.btn.btn-primary{type: "button",
                                data: {type: 'scroll_type', filter: 'Structure'}} Structure

      .btn-group.scroll-filter{data: {toggle: "buttons-checkbox"}}
        %button.btn.btn-primary{type: "button", data: {type: 'resource_type', filter: 'Energy'}} Energy
        %button.btn.btn-primary{type: "button", data: {type: 'resource_type', filter: 'Order'}} Order
        %button.btn.btn-primary{type: "button", data: {type: 'resource_type', filter: 'Growth'}} Growth

      .btn-group.scroll-filter{data: {toggle: "buttons-checkbox"}}
        %button.btn.btn-primary{type: "button", data: {type: 'rarity', filter: 'Common'}} Common
        %button.btn.btn-primary{type: "button", data: {type: 'rarity', filter: 'Uncommon'}} Uncommon
        %button.btn.btn-primary{type: "button", data: {type: 'rarity', filter: 'Rare'}} Rare
  .row
    .span12
      %h4 Sort
      .btn-group{data: {toggle: "buttons-radio"}}
        %button.btn.btn-primary{type: "button"} Rarity
        %button.btn.btn-primary{type: "button"} Cost
        %button.btn.btn-primary{type: "button"} Name
        %button.btn.btn-primary{type: "button"} Resource Type


  .row
    #scrolls-list.span8
    #scrolls-preview.span4
      %h4 Scroll Preview
  .row
    #deck-scrolls.span12
  .row
    #deck-options.span12
      %h4 Deck Options
      %button.btn.btn-primary.btn-success{data: {loading_text: "Saving..."}, type: "button"} Save
      %button.btn.btn-primary{type: "button"} Load
      %button.btn.btn-primary{data: {loading_text: "Exporting..."}, type: "button"} Export

      .btn-group{data: {toggle: "buttons-radio"}}
        %button.btn.btn-primary{type: "button"} Public
        %button.btn.btn-primary{type: "button"} Private

      %button.btn.btn-primary.btn-danger{data: {loading_text: "Deleting..."}, type: "button"} Delete

%script{type: "text/html", id: "game_scrolls"}
  %h4 Scrolls
  %ul.scroll-picker

%script{type: "text/html", id: "deck_scrolls"}
  %h4 The deck itself
  %ul.scroll-picker

%script{type: "text/html", id: "game_scroll"}
  %div
    {{name}}

%script{type: "text/html", id: "deck_scroll"}
  %div
    {{name}}
    %i.icon-remove-sign
    {{count}}