#main-view

%script{type: "text/html", id: "application_layout"}
  .container
    .row
      .span12
        #app

%script{type: "text/html", id: "deck_layout"}
  #deck

%script{type: "text/html", id: "main_view"}
  .row
    .hero-unit.clearfix.span8.offset2
      .span4
        %p Scroll Packs are your own deck ideas, online.
        %p Share your scroll packs with friends and the enture Scroll community!
        %a#new-deck.btn.btn-success.btn-large{href: '#decks/new'} Build Your Pack
      = image_tag 'scrolls/15_Crown_of_Strength.png', class: 'hero-scroll pull-right'

%script{type: "text/html", id: "deck_builder"}
  = render "scrolls/templates/deck_builder"

%script{type: "text/html", id: "game_scrolls"}
  %h4 Scrolls
  %ul.scroll-picker

%script{type: "text/html", id: "deck_scrolls"}
  .header
    %h4.pull-left {{name}}
    %i.icon-pencil.pull-left
  %button.btn.btn-mini.btn-danger.empty-pack Empty Pack
  %ul.deck-scrolls

%script{type: "text/html", id: "preview_scroll"}
  %h4 Preview
  %img{src: "{{scrollImage}}"}

%script{type: "text/html", id: "game_scroll"}
  %div
    %img{src: '{{scrollImage}}'}

%script{type: "text/html", id: "deck_scroll"}
  %div
    {{count}}
    %i.count-mutator.icon-remove-sign.pull-right
    %p.count-mutator.text-error.decrease-scrolls.danger.pull-right -
    %p.count-mutator.text-success.increase-scrolls.success.pull-right +
    %img{src: '{{scrollImage}}'}

%script{type: "text/html", id: "deck_stats"}
  %table.table.table-condensed
    {{#resources}}
    %tr
      %td {{0}}
      %td {{1}}
    {{/resources}}
    {{#types}}
    %tr
      %td {{0}}
      %td {{1}}
    {{/types}}
    %tr
      %td Scroll Count
      %td {{scrollCount}}