#deck-builder

%script{type: "text/html", id: "deck_builder"}
  #scrolls-list
  #deck

%script{type: "text/html", id: "scroll_list"}
  %ul

%script{type: "text/html", id: "scroll_list_item"}
  %li
    {{name}}
