.row
  .span12
    %h4 Filter
    .btn-group.scroll-filter{data: {toggle:"buttons-checkbox"}}
      - Scroll::SCROLL_TYPES.each do |type|
        %button.btn.btn-mini.btn-primary{type: "button",
                                         data: {type: 'scroll_type', filter: type}} #{type}

    .btn-group.scroll-filter{data: {toggle: "buttons-checkbox"}}
      - Scroll::SCROLL_RESOURCES.each do |resource|
        %button.btn.btn-mini.btn-primary{type: "button",
                                         data: {type: 'resource_type',
                                               filter: resource}} #{resource}

    .btn-group.scroll-filter{data: {toggle: "buttons-checkbox"}}
      - Scroll::SCROLL_RARITIES.each do |rarity|
        %button.btn.btn-mini.btn-primary{type: "button",
                                         data: {type: 'rarity', filter: rarity}} #{rarity}

    %button.btn.btn-mini.btn-warning.clear-filter Clear Filter

    %h4 Sort
    .btn-group.scroll-sort{data: {toggle: "buttons-radio"}}
      %button.btn.btn-mini.btn-primary.active{type: "button", data: {sorter: 'name'}} Name
      %button.btn.btn-mini.btn-primary{type: "button", data: {sorter: 'rarity'}} Rarity
      %button.btn.btn-mini.btn-primary{type: "button", data: {sorter: 'cost'}} Cost
      %button.btn.btn-mini.btn-primary{type: "button",
                                       data: {sorter: 'resource_type'}} Resource Type

.row
  .span5.offset5
    #deck-options.pull-right
      %button.btn.btn-small.btn-success{data: {loading_text: "Saving..."}, type: "button"} Save
      %button.btn.btn-small.btn-primary{type: "button"} Load
      -# %button.btn.btn-small.btn-primary{data: {loading_text: "Exporting..."}, type: "button"} Export

      -# .btn-group{data: {toggle: "buttons-radio"}}
      -#   %button.btn.btn-small.btn-primary{type: "button"} Public
      -#   %button.btn.btn-small.btn-primary{type: "button"} Private

      -# %button.btn.btn-small.btn-danger{data: {loading_text: "Deleting..."}, type: "button"} Delete

.row
  .span2
    #scrolls-list
  .span8
    #deck-scrolls
  .span3
    #scroll-preview
    #deck-stats