.row
  .span12
    %h4 Filter
    .btn-group.scroll-filter{data: {toggle:"buttons-checkbox"}}
      - Scroll::SCROLL_TYPES.each do |type|
        %button.btn.btn-mini.btn-primary{type: "button",
                                         data: {type: 'scroll_type', filter: type}} #{type}

    .btn-group.scroll-filter{data: {toggle: "buttons-checkbox"}}
      - Scroll::SCROLL_RESOURCES.each do |resource|
        %button.btn.btn-mini.btn-primary{type: "button",
                                         data: {type: 'resource_type',
                                               filter: resource}} #{resource}

    .btn-group.scroll-filter{data: {toggle: "buttons-checkbox"}}
      - Scroll::SCROLL_RARITIES.each do |rarity|
        %button.btn.btn-mini.btn-primary{type: "button",
                                         data: {type: 'rarity', filter: rarity}} #{rarity}

    %button.btn.btn-mini.btn-warning.clear-filter Clear Filter

    %h4 Sort
    .btn-group.scroll-sort{data: {toggle: "buttons-radio"}}
      %button.btn.btn-mini.btn-primary.active{type: "button", data: {sorter: 'name'}} Name
      %button.btn.btn-mini.btn-primary{type: "button", data: {sorter: 'rarity'}} Rarity
      %button.btn.btn-mini.btn-primary{type: "button", data: {sorter: 'cost'}} Cost
      %button.btn.btn-mini.btn-primary{type: "button",
                                       data: {sorter: 'resource_type'}} Resource Type

.row
  .span5.offset5
    %i.favorite-icon.pull-right{class: '{{favoriteIcon}}'}
    {{#canEditDeck}}
    #deck-options.pull-right
      %button.btn.btn-small.btn-success.save-pack Save
      %button.btn.btn-small.btn-primary.load-pack Load
      {{#id}}
      %button.btn.btn-small.btn-danger.delete-pack Delete
      {{/id}}
      -# .btn-group{data: {toggle: "buttons-radio"}}
      -#   %button.btn.btn-small.btn-primary{type: "button"} Public
      -#   %button.btn.btn-small.btn-primary{type: "button"} Private
    {{/canEditDeck}}
.row
  .span2
    #scrolls-list
  .span8
    #deck-scrolls
  .span3
    #scroll-preview
    #deck-stats

#pack-list