.row
  .hero-unit.clearfix.span8.offset2
    .span4
      %p Scroll Packs are your own deck ideas, online.
      %p Share your scroll packs with friends and the enture Scroll community!
      %a#new-deck.btn.btn-success.btn-large{href: '#decks/new'} Build Your Pack
    = image_tag 'scrolls/15_Crown_of_Strength.png', class: 'hero-scroll pull-right'
    