.btn-group.deck-sort{data: {toggle: "buttons-radio"}}
  %button.btn.btn-mini.btn-primary.active{type: "button", data: {sorter: 'created_at'}} Most Recent
  %button.btn.btn-mini.btn-primary{type: "button", data: {sorter: 'favorites'}} Most Favorited
  %button.btn.btn-mini.btn-primary{type: "button", data: {sorter: 'views'}} Most Views

%ul.unstyled