#all-scroll-packs {
  h3 {
    margin-left: 25px;
  }

  i.deck-favorite {
    position: absolute;
    font-size: 23px;
    margin-top: 9px;

    &.icon-star {
      color: #F38942
    }
  }

  li {
    line-height: 20px;
    padding-bottom: 15px;
    box-shadow: 0 7px 16px -12px #808080;
    margin-bottom: 15px;
  }

  .deck-stats i {
    margin-left: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

#alert {
  position: absolute;
  width: 360px;
  text-align: center;
  top: 55px;
  left: 50%;
  margin-left: -180px;
}

#deck {
  .row {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .header {
    display: inline-block;

    i {
      margin-top: 13px;
      margin-left: 10px;
    }
  }
}

ul.scroll-picker {
  height: 700px;
  list-style: none;
  overflow: auto;
  margin: 0;

  li {
    cursor: pointer;
    height: 168px;
    width: 165px;
  }
}

#deck-scrolls {
  position: relative;

  .edit-name {
    cursor: pointer;
  }

  .editing-name {
    display: none;

    input {
      margin: 7px 0;
    }
  }

  button.empty-pack {
    position: absolute;
    right: 0;
    top: 45px;
  }

  ul.deck-scrolls {
    height: 700px;
    list-style: none;
    padding: 5px;
    background: #F8FAF8;
    overflow: auto;
    margin: 0;

    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    
    li {
      height: 220px;
      width: 103px;
      margin: 0 10px 0px 0;
      float: left;
    }

    .count-mutator {
      cursor: pointer;
      font-weight: bold;
      margin-right: 5px;
    }
  }
}

#scroll-preview {
  height: 520px;
}

ul.deck-options {
  border: 1px solid #000;
  height: 50px;
  list-style: none;
  padding: 20px 0 20px 20px;
  margin: 0;
}
