
.row {
  margin-bottom: 20px;
}

ul.scroll-picker {
  border: 1px solid #000;
  height: 350px;
  list-style: none;
  padding: 20px 0 20px 20px;
  overflow: auto;
  margin: 0;
}

li.scroll {
  height: 200px;
  width: 103px;
  margin: 0 20px 20px 0;
  float: left;
}

ul.deck-options {
  border: 1px solid #000;
  height: 50px;
  list-style: none;
  padding: 20px 0 20px 20px;
  margin: 0;
}

.hero-unit {
    background: none;
}

.hero-scroll {
}